{% load static %}

<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'main.scss.css' %}">
        <title>Curriculum Vitae van Jaap Joris Vens</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Curriculum Vitae van Jaap Joris Vens</a></h1>
        </header>

        <article>
            {% block content %}
            {% endblock %}
        </article>
    </body>
</html>
