{% load cms %}

<section class="contact" id="{{section.title|slugify}}">
    <h2>{{section.title}}</h2>

    {% eval section.content %}

    <form method="post" class="cms">
        {% csrf_token %}
        {% for field in form %}
            {% include 'cms/formfield.html' with field=field %}
        {% endfor %}
        <div class="spacer"></div>
        <button class="button" name="section" value="{{section.pk}}">Verstuur</button>
    </form>

    {% editsection '<img src="/static/cms/edit.png">' %}
</section>
